


<div class="welcome_page row">
  <div class ="sitbutt large-3 columns">
    <button id="sitterbutton">
      <p>Become a Sitter</p>
    </button>    
  </div>

  <div class = "sitbutt2 large-3 columns">
    <button id="findsitterbutton" onclick="ClickEvent()">
      <p>Make an Appointment</p>
    </button> 
  </div> 


  <div class = "sitbutt3 large-3 columns">
    <button id="findsitterbuttonagain2">
      <p>View Appointments</p>
    </button> 
  </div>


  <div class = "sitbutt3 large-3 columns">
    <button id="findsitterbuttonagain">
      <p>View Our Sitters</p>
    </button> 
  </div>
</div>


<div class="bgParallax" id = "container">
  <div class = "pic1"><%= image_tag("house_sitters2.png") %></div>
  <article>
    <h3>Here's How We Work</h3>
      <p>Step 1) Log on to our website.</p>
      <p>Step 2) Make an appointment to reserve a sitter.</p>
      <p>Step 3) We take care of the inconvenience of waiting for that pesky repair person.</p>
  </article>
  

</br>


  <div class = "pic"><%= image_tag("cableguy.jpg") %></div>
</br>
  <article>
    <h3>According to an IBOPE Zogby poll,</h3>
      <p>
         the average consumer lost an estimated $250 last year while waiting for in-home service. Multiply that $250 on a national scale, and you get $37.7 billion.
    </p>
  </article>


  </br>


  <div class = "pic"><%= image_tag("clock.jpg") %></div>
</br>

  <article>
    <h3>The average wait time? </h3>
    <p>About four and a half hours, which happened on about three separate occasions for most Americans last year. All of that adds up to every American losing about two days of work a year. In fact, half of all respondents said they used a sick day or vacation time to be around for an in-home service.
    </p>
  </article>
  

</br>



  <div class = "pic"><%= image_tag("homepageimg.jpg") %></div>

</br>

  <article>
    <h1>Why a House Sitter?</h1>
      <p>When you hire us, you can rest assured knowing that you have hired a reliable and responsible agency. We ensure that all your home repair and maintenance needs are overseen while your life remains disruption free from the hassle of waiting around for in-home service technicians.
    </p>
  </article>
  
</div>













<!-- <p>Source: Read more: We Lost $38 Billion Last Year Just Waiting Around for the Cable Guy | TIME.com http://business.time.com/2011/11/04/we-lost-38-billion-last-year-just-waiting-around-for-the-cable-guy/#ixzz2qaxU85ky</p>
 -->
