<div class="row full-width info-bar">
  <div class="large-12 columns text-center main-info">
    </br></br><h2>Don’t miss work due to a home repair!
    </br>Find a reputable house sitter! </h2>
  </div>
</div>

<div class="row full-width">
  <div class="large-4 columns">
    
    <div class="flip"> 
        <div class="card"> 
          <div class="face front"> 
              Step 1
              <%=image_tag("blue_house.png", alt:"house")%>
          </div> 
          <div class="face back"> 
            <p style="margin-top: 30px">Make an</p>
            <p>appointment</p>
            <p>through our
            <p>website.</p>
          </div> 
        </div> 
    </div>
  </div> 
  <div class="large-4 columns">
    <div class="flip"> 
      <div class="card"> 
        <div class="face front"> 
            Step 2<%=image_tag("blue_man.png", alt: "logo",)%>
        </div> 
        <div class="face back"> 
          <p style="margin-top: 30px">An available sitter</p>
          <p> will confirm your</p> 
          <p>appointment and</p>
          <p>reserve it!</p>
        </div> 
      </div> 
    </div> 
  </div>
  <div class="large-4 columns">
    <div class="flip"> 
      <div class="card"> 
        <div class="face front"> 
          <div style="height: 40px">Step 3<%=image_tag("small_logo.png", alt: "logo",)%></div>
        </div> 
        <div class="face back"> 
          <p style="margin-top: 30px">Complete</p>
          <p>registration to</p>
          <p>finalize your</p>
          <p>appointment.</p>
        </div> 
      </div> 
    </div>     
  </div>

