<div class="full-width-row">
 
  <div class="welcome_page">
    
    <div id="sitterbutton"><br>
    <p> Become a Sitter!</p>
    </div>    

    
    <h1>Welcome</h1>
    <h3>Americans lost $38 billion last year waiting for the cable guy...</h3>

    <p>Turns out that waiting at home for the cable guy, U.P.S., the plumber, and other in-home services — instead of being at work — is costing us billions of dollars every year.</p>

    <h5>According to an IBOPE Zogby poll, the average consumer lost an estimated $250 last year while waiting for in-home service. Multiply that $250 on a national scale, and you get $37.7 billion.</h5>
  </div>
</div>
