<div class="row full-width">
  <div class="large-12 columns main-info">
    <h1>Don’t miss work due to a home repair!</h1>
    <h1>Find a reputable house sitter! </h1>
  </div>
</div>


<div class="row full-width">
  <div class="large-4 columns">
    
    <div class="flip"> 
        <div class="card"> 
          <div class="face front"> 
              Step 1
          </div> 
          <div class="face back"> 
            <p>Fill out appointment form</p>
          </div> 
        </div> 
    </div>
  </div> 
  <div class="large-4 columns">
    <div class="flip"> 
      <div class="card"> 
        <div class="face front"> 
            Step 2
        </div> 
        <div class="face back"> 
          <p>An available sitter will reserve it</p>
        </div> 
      </div> 
    </div> 
  </div>
  <div class="large-4 columns">
    <div class="flip"> 
      <div class="card"> 
        <div class="face front"> 
          Step 3
        </div> 
        <div class="face back"> 
          <p>Complete registration to finalize appointment</p>
        </div> 
      </div> 
    </div>     
  </div>
</div>
