
<div class="full-width-row">
<<<<<<< HEAD
||||||| merged common ancestors
 
  <div class="welcome_page">
    
    <div id="sitterbutton"><br>
    <p> Become a Sitter!</p>
    </div>    

    <div id="findsitterbutton">
      <p> Find a Sitter! </p>
    </div>
    </div>
=======
 
  <div class="welcome_page">
    
    <button id="sitterbutton">
      <p>Become a Sitter!</p>
    </button>    
>>>>>>> 9e0cde69e05742fe0cefc6785ae74ad2d2290673

<<<<<<< HEAD
  <div class="welcome_page row">
      <div class ="sitbutt large-4 columns">
        <button id="sitterbutton">
          <p>Become a Sitter!</p>
        </button>    
      </div>

      <div class = "sitbutt2 large-4 columns">
        <button id="findsitterbutton">
          <p>Book a Sitter!</p>
        </button> 
      </div> 

      <div class = "sitbutt3 large-4 columns">
        <button id="findsitterbuttonagain">
          <p>View Our Sitters!</p>
        </button> 
      </div>
  </div>
||||||| merged common ancestors
=======
    <button id="findsitterbutton">
      <p>Find a Sitter! </p>
    </button>  
  </div>
</div>
>>>>>>> 9e0cde69e05742fe0cefc6785ae74ad2d2290673


    <h1>Welcome</h1>


      <ul class="example-orbit" data-orbit>
        
        <li class ="man_pic">
          <img src="../assets/happy-man-looking-at-computer.jpeg" alt="slide 1"/>

          <div class="orbit-caption">
            Americans lost $38 billion last year waiting for the cable guy....
          </div>
        </li>
          
        <li>
          <img src="../assets/woman.jpg" alt="slide 2"/>

          <div class="orbit-caption">
            I'm so glad I NEVER have to leave work! Thanks Home Sitters!!!
          </div>
        </li>

        <li>
          <img src="../assets/workers.jpg" alt="slide 3"/>
          <div class="orbit-caption">
            I hate dealing with cable guys anywho...
          </div>
        </li>

      </ul>
      
  
      <h2>Turns out that waiting at home for the cable guy, U.P.S., the plumber, and other in-home services — instead of being at work — is costing us billions of dollars every year.</h2>

      <h5>According to an IBOPE Zogby poll, the average consumer lost an estimated $250 last year while waiting for in-home service. Multiply that $250 on a national scale, and you get $37.7 billion.</h5>


    </div>
  </div>
</div>
