

<div data-stellar-ratio=".05">
  <div class="welcome_page row">
      <div class ="sitbutt large-4 columns">
        <button id="sitterbutton">
          <p>Become a Sitter!</p>
        </button>    
      </div>

      <div class = "sitbutt2 large-4 columns">
        <button id="findsitterbutton">
          <p>Book a Sitter!</p>
        </button> 
      </div> 

      <div class = "sitbutt3 large-4 columns">
        <button id="findsitterbuttonagain">
          <p>View Our Sitters!</p>
        </button> 
      </div>
  </div>
</div>



<div data-stellar-ratio="2">
 <div class="bgParallax" id="one">
    <article>
      <h1></h1>
      <p></p>
    </article>
  </div>
</div>




<div data-stellar-ratio="2">
 <div class="bgParallax">
    <article>
      <h1>That show's called a pilot.</h1>
        <p>It filled the can, it covered the floor, 
It cracked the window and blocked the door 
With bacon rinds and chicken bones, 
Drippy ends of ice cream cones, 
Prune pits, peach pits, orange peel, 
Gloppy glumps of cold oatmeal, 
Pizza crusts and withered greens, 
Soggy beans and tangerines, 
Crusts of black burned buttered toast,  </p>
    </article>
  </div>
</div>



<div data-stellar-ratio="2">
  <div class="bgParallax">
    <article>
      <h1>Step 2</h1>
      <p>knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. N candle to man.</p>
    </article>
  </div>
</div>




