

<p> <%= @greeting %>
    <%= @greeting3 %>   
    <%= @greeting2 %>

<%= link_to 'Confirm', "http://localhost:3000/appointments/#{@id}/confirm?sitter_id=#{@sitter_id}", :controller => 'appointments', :method => 'confirm' %>

</p>
