<table class = "center">
  <h1>All Our Sitters</h1>
  <thead>
    <tr>
      <th width="200">Name</th>
      <th width="150">Email</th>
      <th width="150">LinkedIn Profile</th>
      <th width="150">Picture</th>
    </tr>
  </thead>
  <tbody>
  <% @sitters.each do |sitter|%>
    <tr>
      <td><%= sitter.name %></td>
      <td><%= sitter.email %></td>
      <td><%= link_to 'See my linkedIn profile', sitter.linked_in %></td>
      <td><%= image_tag(sitter.picture) %></td>
        <% end %>
    </tr>
  </tbody>
</table>



