/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self
 
 *= require_tree .
 */
.nav, .google {
  /*background-color: #303333;*/
  height: 63px;
  padding-right: 0px;
}

.line {
  margin-top: -5px;
}

.pics {
  margin-bottom: 75px;
}

.plus {
  width: 170px;
  margin-top: 60px;
}

.equals {
  margin-top: 85px;
  margin-top: 60px;
  img.resize {
    width: 200px;
    height: auto;
  }
}

.man {
  width: 240px;
  height: 210px;
}

.main-info {
  margin-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  max-width: 100%;
  h1 {
    float: left;
    color: white;
    font-weight: bold;
    font-size: 45px;
    -webkit-text-stroke: 2px black;
  }
}

.info {
  margin-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  max-width: 100%;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 40px;
    -webkit-text-stroke: 2px black;
  }
}

.button-group {
  padding-bottom: 0px;
  div {
    font-size: 22px;
    color: black;
    height: 63px;
    padding-top: 20px;
  }
  li {
    text-align: center;
  }
}


.button-group div:hover {
  font-weight: bold;
}

.flip {
  -webkit-perspective: 800;
   width: 400px;
   height: 200px;
    position: relative;
    margin: 50px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: 'Kreon', serif;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
  position: absolute;
  opacity: 0.7;
  z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
    background: white;
    color: black;
    cursor: pointer;
    p { 
      font-size: 30px;
      text-align: center;
    }
}


 .link1, .link2, .link3, .link4, .link5 {
 cursor:pointer;
 }

.active {
  padding: 0px;
  float: right;
  .sign-in {
    font-size: 0px;
  }
}

.sign-out {
    font-size: 22px;
    color: white;
    padding-top: 20px;
  }

.sign-in {
  padding-top: 0px;
  a { font-size: 0px;
  }
}

.row.full-width {
  width: 100%;
  max-width: 100%;
  float: left;
  width: 1280;
}


input.button {
  color: white;
  background-color: #045FB4;
  border: 2px solid gray;
}

label {
  color: white;
  font-size: 20px;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
    -webkit-text-stroke: 2px black;
}

#confirmbutton {
  width: 400px;
  height: 00px;
}

table.center {

  margin-left: auto;
  margin-right: auto;
}

table{
  width: 800px;
  height: 200px;
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0px 10px 10px 10px;
  color: #303030;
    th, td{
  background: grey;
  border: 1px solid black;
  }
}
















