/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self
 
 *= require_tree .
 */



hr {
  color: black;
  background-color: black;
  height: 2px;
  border: 0px;
}

 .steps {
  margin-top: 45px;
  h1 {
    font-family: sans-serif;
    color: black;
  }
 }

body {
  font-family: 'Krona One', sans-serif;
  background-color: #ECEBE8;
}
.nav {
  background-color: #ECEBE8;
  padding-left: 0px;
  .google {
    background-color: #ECEBE8;
    height: 63px;
    padding-right: 0px;
  }
}

h1, h2{
  text-align: center;
  font-family: 'Krona One', sans-serif;
}

thead, tbody, tr, td, th {
  font-family: 'Krona One', sans-serif;
  text-align: center;
  a:visited{
    color: #680000;
  }
}

.row.full-width.pics{
  float: left;
}

.line {
  margin-top: -5px;
}

.pics {
  margin-bottom: 75px;
}

.plus {
  width: 170px;
  margin-top: 60px;
}

.equals {
  margin-top: 85px;
  margin-top: 60px;
  img.resize {
    width: 200px;
    height: auto;
  }
}

.man {
  width: 240px;
  height: 210px;
}
.tagline {
  padding: 0px;
}

.info-bar {
  margin-bottom: 40px;
}
.main-info {
  margin-top: 15px;
  padding-bottom: 80px;
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-family: 'Krona One', sans-serif;
  background-color: #2A8CB2;
  h2 {
    padding-top: 30px;
    color: #565657;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    font-family: 'Krona One', sans-serif;
/*    -webkit-text-stroke: 2px black;
*/  }
}

.field {
  padding-top: 20px;
}

.labels {
  padding-top: 40px;
  h3 {
    float: right;
    padding-left: 100px;
    padding-bottom: 25px;
  }
}

#end_time {
  padding-top: 7px;
}
#zip_code {
  padding-top: 8px;
}

.info {
  /*margin-top: 60px;*/
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: sans-serif;
  padding: 0px;
  h1 {
    color: #A4A4A4;
    font-weight: bold;
    font-size: 40px;
    font-family: sans-serif;
    /*-webkit-text-stroke: 2px black;*/
  }
}

.button-group {
  padding-bottom: 0px;
  div {
    font-size: 22px;
    font-family: 'Krona One', sans-serif;
    color: black;
    height: 63px;
    padding-top: 20px;
  }
  li {
    font-family: 'Krona One', sans-serif;
    text-align: center;
  }
}


.button-group div:hover {
  font-family: 'Krona One', sans-serif;
  font-weight: bold;
}

.flip {
  -webkit-perspective: 800;
   width: 400px;
   height: 200px;
    position: relative;
    margin: 20px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);

}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: 'Krona One', sans-serif;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
  position: absolute;
  text-align: auto;
  /*opacity: 0.7;*/
  z-index: 1;
    background: #ECEBE8;
    color: white;
    cursor: pointer;
    background-color: #ECEBE8;
    font-weight: bold;
    font-size: 45px;
      font-family: sans-serif;
      /*-webkit-text-stroke: 2px black;*/
      color: #565657;

    
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
    background: #ECEBE8;
    color: black;
    cursor: pointer;
    text-align: center;
    p { 
      font-size: 30px;
      font-family: 'Krona One', sans-serif;
      text-align: center;
    }
}


 .link1, .link2, .link3, .link4, .link5 {
 cursor:pointer;
 }

.active {
  padding: 0px;
  float: right;
  .sign-in {
    font-size: 0px;
    font-family: 'Krona One', sans-serif;
  }
}

.link3 {
  padding-right: 5px;
  padding-left: 5px;
    div {
      padding: 0px;
    }
}
.sign-out {
    font-size: 22px;
    font-family: 'Krona One', sans-serif;
    color: white;
    padding-top: 20px;
  }

.sign-in {
  a { font-size: 0px;
    font-family: 'Krona One', sans-serif;
  }
}

.row.full-width {
  font-family: 'Krona One', sans-serif;
  text-align: center;
  width: 100%;
  max-width: 100%;
  float: left;
  width: 1280;
}


input.button {
  color: white;
  background-color: #045FB4;
  border: 2px solid gray;
}

label {
  font-size: 20px;
}

h1 {
    color: white;
    font-family: 'Krona One', sans-serif;
    font-weight: bold;
    font-size: 45px;
    /*-webkit-text-stroke: 2px black;*/
}

#confirmbutton {
  width: 400px;
  height: 00px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

table{
  width: 800px;
  height: 200px;
  border-collapse: collapse;
  text-align: center;
  font-family: 'Krona One', sans-serif;
  box-shadow: 0px 10px 10px 10px;
  color: #303030;
    th, td{
  background: grey;
  border: 1px solid black;
  }
}
