/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
<<<<<<< HEAD
=======
 * require font-awesome
>>>>>>> ff12d9e8e15ee3abb3cc590ebd9a59be128834fe
 
 *= require_tree .
 */





.full-width-row  {
  width: 100%;
  background: image-url('blurred-background.jpg') no-repeat;
  min-height: 1280px;
  background-size: cover; //this resizes the background for any screen size
  padding: 6em 0em; //give it some breathing room from the top
  overflow: hidden;
}

a:hover {
  cursor: pointer;
}

#sitterbutton, #findsitterbutton, #findsitterbuttonagain2, #findsitterbuttonagain {
  
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  font-size: 70px;
  line-height: 100px;
  text-align: center;
  border: 2px solid black;
  background: #00CCFF;
  margin: 0 auto;
  box-shadow: 0px 10px 10px 10px;
  color: #303030;
  p {
    font-size: 25px;
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: bold;
    color: white;
  }

}




#appointment_date, #appointment_zip_code {
  background-color: transparent;
  color: white;
}

input.button {
  color: white;
  background-color: #045FB4;
  border: 2px solid grey;
}

h1 {
  text-align: center;
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: bold;
}

.example-orbit {
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: center;
  color: white;


}
h4 {
  color: white;
  font-family: 'Love Ya Like A Sister', cursive;
}


//format for paralax
* {margin:0; padding: 0;}
html, body {height:100%;}
  
/** format elements which have backgrounds parallax **/
.bgParallax {
  font-family: 'Elsie', cursive;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  min-height: 100%;
  background-position: 100% 0; 

    
}
  
/* Define backgrounds of divs */
  
/** Format article **/
.bgParallax {
  width: 70%;
  text-align: center;
  margin:0 auto;
  padding:20% 0 0;
}


  
/** format text **/


article h1 {
  font-size:40px;
   color: white;
   font-weight: bold;
   font-family: 'Love Ya Like A Sister', cursive;

 }

article h3 {
  font-size: 30px;
  color: white;
  font-weight: bold;
  font-family: 'Love Ya Like A Sister', cursive;
}

article p {
  line-height: 30px; 
  font-size: 20px; 
  margin-top: 15px;
  color: white; 
  text-decoration: none; 
  font-family: 'Love Ya Like A Sister', cursive;
}

.pic {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border: 10px solid black;
  box-shadow: 0px 10px 10px 10px;
  color: #303030;

}

.pic1 {
  width: 400px;
  margin-left: auto;
  margin-right: auto;

}

#confirmbutton {
  width: 400px;
  height: 00px;
}

table.center {

  margin-left: auto;
  margin-right: auto;
}

table{
  font-family: 'Love Ya Like A Sister', cursive;
  width: 800px;
  height: 200px;
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0px 10px 10px 10px;
  color: #303030;
    th, td{
  background: grey;
  border: 1px solid black;
  font-family: 'Love Ya Like A Sister', cursive;
  }
}
