.full-width-row  {
  width: 100%;
  background: image-url('porch.jpg') no-repeat;
  min-height: 1280px;
  background-size: cover; //this resizes the background for any screen size
  padding: 6em 0em; //give it some breathing room from the top
  overflow: hidden;
}