



#sitterbutton, #findsitterbutton, #findsitterbuttonagain, #findsitterbuttonagain2 {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  font-size: 70px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
  background: #00CCFF;
  margin: 0 auto;

}


#sitterbutton, #findsitterbutton, p {
  font-size: 20px;
  cursor:pointer;
  color: black;
}


#sitter_email, #sitter_password {
  background-color: transparent;
  color: white;
}

.new_sitter label{
  color: white;

}
.button {
  color: white;
  background-color: green;
}



