
.button {
  color: white;
  background-color: blue;
}

#sitter_email, #sitter_password, #sitter_name, #sitter_phone_number, #sitter_zip_code, #sitter_password_confirmation {

  background-color: transparent;
  color: black;
}

.new_sitter label{
  color: black;

}
.button {
  color: white;
  background-color: green;
}


div.small-12.medium-4.large-4.columns {
  color: grey;
  background-color: #333333;
}
