<div class="row">
  <div class="large-12 columns small-centered info">
    <h1>New appointment</h1>
  </div>
</div>
<div class="row">
  <div class="large-6 columns small-centered info">
    <%= render 'form' %>
  </div>
</div>
