<div class="row">
  <div class="large-12 columns small-centered info new-appointment">
    <h1>New appointment</h1>
  </div>
</div>
<div class="row">
  <div class="large-12 columns info sitters-show">
    <%= render 'form' %>
  </div>
</div>
