<div class="row">
  <div class="large-12 columns small-centered info">
    <h1>New appointment</h1>
  </div>
</div>
<div class="row">
  <div class="large-4 columns labels">
    <h3>Date: </h3>
    <h3>Start Time: </h3>
    <h3 id="end_time">End Time: </h3>
    <h3 id="zip_code">Zip Code: </h3>
    <h3>Email: </h3>
  </div>
  <div class="large-4 columns info">
    <%= render 'form' %>
  </div>
  <div class="large-4 columns"></div>
</div>


