<h1>New appointment</h1>
<div class="full-width-row">
  <div class="row">
    <div class="small-12 medium-6 large-4 small-centered columns">
      

      <%= render 'form' %>
    </div>
  </div>
</div>
