    <div class="full-width header-area">
    <div class="large-10 columns nav">
      <ul class="button-group">
        
        <li class="link3" style="width: 85px">
          <div>Home</div>
        </li>

        <li class="link1" style="width: 210px">
          <div>Become a Sitter</div>
        </li>
        

        <li class="link2" style="width: 280px">
          <div>Make an Appointment</div>
        </li>


        <li class="link4" style="width: 255px">
          <div>View Appointments</div>
        </li>
        
        <li class="link5" style="width: 220px">
          <div>View Our Sitters</div>
        </li>
      </ul>
      </div>

      <div class="large-2 columns google">
          <% if session[:sitter_id] %>
            <div class="sign-out"><%= link_to "Sign Out", destroy_sitter_session_path %></div>
          <% else %>
            <div class="sign-in"><%= link_to (image_tag ("Red-signin-Long-hover-32dp.png")), '/auth/google_oauth2' %></div>
          <% end %>

    </div>
    </div>
