<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Home", home_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active">

          <li>
            <% if current_sitter %>
             <%= link_to "Sign Out", destroy_sitter_session_path, method: :delete %>

            <% else %>
            <%= link_to (image_tag ("Red-signin.png")), sitter_omniauth_authorize_path(:google_oauth2) %>
              <% end %>
          </li>
    
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li></li>
    </ul>
  </section>
</nav>