<div class="full-width header-area">
  <div class="large-10 columns nav">
    <ul class="button-group">
      
      <li class="link3" style="width: 84px">
        <div><%=image_tag("Official_logo_icon.png", alt:"house")%></div>
      </li>
      <div>|</div>
      <li class="link2" style="width: 250px">
        <div>Make An Appointment</div>
      </li>
      <div>|</div>
      <li class="link1" style="width: 200px">
        <div>Become A Sitter</div>
      </li>
      <div>|</div>

      <li class="link4" style="width: 254px">
        <div>View All Appointments</div>
      </li>
      <div>|</div>
      <li class="link5" style="width: 190px">
        <div>View All Sitters</div>
      </li>
    </ul>
  </div>


  <div class="large-2 columns google">
  <% if session[:sitter_id] %>
    <div class="sign-out"><%= link_to "Sign Out", destroy_sitter_session_path %></div>
  <% else %>
    <div class="sign-in"><%= link_to (image_tag ("Red-signin-Long-hover-32dp.png")), '/auth/google_oauth2' %></div>
  <% end %>

  </div>
</div>
   <hr>
