    <div class="full-width header-area">
    <div class="large-9 columns">
      <ul class="button-group">
        
        <li class="link3">
          <button class="myButton">Home</button>
        </li>

        <li class="link1">
          <button class="myButton">Become a Sitter</button>
        </li>
        

        <li class="link2">
          <button class="myButton">Make an Appointment</button>
        </li>


        <li class="link4">
          <button class="myButton">View Appointments</button>
        </li>
        
        <li class="link5">
          <button class="myButton">View Our Sitters</button>
        </li>
      </ul>
      </div>

      <div class="large-3 columns">
      <ul class="button-group google">
        <li class="active">
          <% if session[:sitter_id] %>
            <%= link_to "Sign Out", destroy_sitter_session_path %>
          <% else %>
            <%= link_to (image_tag ("Red-signin-Long-hover-32dp.png")), '/auth/google_oauth2' %>
          <% end %>
        </li>
      </ul>
    </div>
    </div>
